@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.questionNumber {
  position: absolute;
  width: 88px;
  height: 14px;
  left: 41px;
  top: 103px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #a7a9b1;
}

.btn-label-bk {
  /* Button */

  position: absolute;
  width: 295px;
  height: 50px;
  left: 41px;
  top: 525px;

  /* Background */

  position: absolute;
  width: 295px;
  height: 50px;
  left: 41px;
  top: 525px;

  background: #48b07a;
}

.questionText {
  position: absolute;
  width: 295px;
  height: 49px;
  left: 41px;
  top: 133px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;

  color: #373737;
}

.questionOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
.questionOptions > button {
  position: relative;
  width: 139.31px;
  height: 89px;
  margin: 10px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.questionOptions > button:focus {
  background: #ec5569;
}

.questionProgress {
  /* questionsProgress */
  position: absolute;
  width: 190px;
  height: 29px;
  left: 92px;
  top: 36px;
}

@media only screen and (min-device-width: 320px)  and (max-device-width: 568px) {
  .questionOptions {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
  }​
}